.container{
    position:           absolute;
    display:            flex;
    width:              100vw;
    height:             100vh;
    max-width:          100%;
    justify-content:    center;
    align-items:        center;
    opacity:            0;
    overflow:           hidden;
    z-index:            10001;
    pointer-events:     none;

    transition:         opacity 225ms linear;
}

.open{
    opacity: 1;
    pointer-events:     all;
}

.darkener{
    position: fixed;
    top: 0;
    left: 0;
    width:      100vw;
    height:     100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10001;
}

.title{
    font-size:      24px;
    color:          #ea5970;
    margin-top:     0;
}

.dialog{
    position:           relative;
    width:              100%;
    max-width:          600px;
    padding:            20px;
    border-radius:      10px;
    background-color:   white;
    z-index:            10001;
}