.root{
    height: 100vh;
}

.image{
    background-image:       url(../assets/backgroundLogin-min.png);
    background-repeat:      no-repeat;
    background-size:        cover;
    background-position:    center;
}

.paper{
    display:        flex;
    margin:         40px 20px;
    flex-flow:      column nowrap;
    align-items:    center;
}

.avatar{
    margin:             5px;
    background-color:   #444;
}

.form{
    width:      100%;
    margin-top: 5px;
}

.submit{
    margin: 15px 0 10px;
}

.modalContainer{
    margin-top: 10px;
    width: 100%;
}