.cardHolder {
    display:            flex;
    margin-left:        auto;
    margin-right:       auto;
    padding-top:        32px;
    align-items:        center;
    flex-direction:     column;
    gap:                16px;
    background-color:   transparent;
}

.titleBegin{
    color:          white;
    font-style:     normal;
    font-size:      30;
    width:          100%;
    padding-bottom: 15px;
    text-align:     center;
    flex-direction: column;
}

.dividerTitle{
    background: white;
    padding-top: 0px;
}