.root {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.container{
  position:               relative;
  width:                  100%;
  max-width:              600px;
  margin:                 5px 0px;
  background-color:       #1b2452;
  border-radius:          0px;
  box-shadow:             black 1px 1px 8px;
  flex:                   8 1 0;
}

.media{
  height: 140px;
}

.title {
  color: white;
  margin-left: 10px;
}

.content {
  color:          white;
  margin-left:    35px;
  margin-bottom:  5px;
}

.contentNoMedia{
  color:        white;
  margin-left:   35px;
  margin-bottom: 5px;
  font-size:     1.3rem;
  text-indent:   0;
  white-space:   pre-wrap
}

.contentEdit{
  color:          white;
  margin-bottom:   5px;
  background:     transparent;
  outline:        none;
  width:          100%;
  height:         70px;
  resize:         none;
  text-decoration: underline;
  box-sizing:      border-box;
  white-space:     pre-wrap
}

.input{
  display: none
}

.displayTitle{
  display:            flex;
  justify-content:    flex-start;
  align-items:        flex-end;
  gap:                15px;
  margin-bottom:      15px;
}

.displaybtn{
  text-align:   right;
  margin-left:  auto;
}

.imgPost{
  max-width: 450px;
}

.contImg{
  align-items:  center;
  text-align:   center;
  margin-bottom: 5px;
}

.contMedia{
  display:          flex;
  flex-direction:   column;
  flex-wrap:        wrap
}

.date{
  font-size: 0.7rem;
  color:    #CCCCCC;
  display:  block
}

.avatar{
  border:           1px solid #f28a9a;
  background-color: #444;
}

.cardBtn {
  align-items:      center;
  justify-content:  space-around;
  color:            white;
}

.saveIcon{
  color: #33eaff;
}

.mediaIcon{
  color: #ea5970
}

.avatarContainer{
  display: inline-block;
}

.avatar{
  width:                45px;
  height:               45px;
  border-radius:        50%;
  background-color:     #444;
  border:               none;
}

.date{
  display: inline-block;
  font-size: 14px;
  color:    gray;
  display:  block;
  margin:   0;
}

.mediaIcon{
  color: #ea5970;
}

.deleteBtn{
  margin:         0px;
}

/*
  ROOTER
*/

.rooter {
  position:     relative;
  display:      inline-block;
  flex:         1 1 0;
  justify-self: stretch;
}

.uproot {
  position:         absolute;
  display:          inline-block;
  width:            var(--rooter-width);
  height:           50%;
  top:              0;
  left:             50%;
  background-color: white;
}

.sideroot {
  position:         absolute;
  display:          inline-block;
  width:            50%;
  height:           var(--rooter-width);
  top:              50%;
  left:             50%;
  background-color: white;
}

.downroot {
  position:         absolute;
  display:          inline-block;
  width:            var(--rooter-width);
  height:           50%;
  top:              50%;
  left:             50%;
  background-color: white;
}

.root:last-child .rooter .downroot {
  display: none;
}