.Toastify__toast-container {
    z-index: 10002;
}

.Toastify__toast--info {
    background-color: #6375D4;
}

.Toastify__toast--success {
    background-color: #2FC457;
}

.Toastify__toast--warning {
    background-color: #FFB742;
}

.Toastify__toast--error {
    background-color: #F50057;
}